<title>Comparison method</title>
  <h1>Comparison method</h1>
    You need to give integers seperated by newline to the left area. You need to give a integer to the right area.
    <br>
    My method will return integers in left area that smaller or greater than integer in right area depending on your choice.
    <br><br>
    Result is {{result}}
    <br><br>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <input type="checkbox" id="box1" name="box1" value="Higher">
        <label for="box1"> Check if you want higher numbers instead of lower</label>
        <input type="checkbox" id="box2" name="box2" value="Equal">
        <label for="box2"> Check if you want to get equal numbers too</label>
        <br>
        <input type="submit">
  </form>